* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D323B;
    /* background: linear-gradient(to top, #777a7d, #595e62, #424345, #151617);
    background-repeat: no-repeat; */
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    /* text-align: center; */
}

.header {
    background-color: #1C1D1F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 15px 10px 15px 15px;
    vertical-align: middle;
}

.LoginBtn {
    border: none;
    padding: 7px;
    /* margin-top: 15px; */
    background-color: #11f285;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0px;
    vertical-align: middle;
    height: 35px;
    width: 100px;
}

.nav {
    padding-top: 7px;
}


.nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    /* vertical-align: middle; */
}

.nav a:hover {
    opacity: 0.6;
    transition: ease-in-out 300ms;
}

.gameCard {
    background-color: rgba(66, 66, 66, 0.8);
    border-radius: 5px;
    width: 20%;
    margin: 5% 5% 5% 5%;
    padding: 15px;
    text-align: center;
}

.gameRating {
    /* color: #e8c500; */
    color: #11f285;
    font-size: 28px;
    font-weight: bold;
}

.gameButton {
    border: none;
    padding: 7px;
    margin-top: 15px;
    background-color: #3c3c3c;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.gameButton:hover {
    cursor: pointer;
    background-color: #6c6a6a;
}

.gameCard h1 {
    font-size: 26px;
    font-weight: bold;
    /* text-align: left; */
}

.gameDescription {
    font-size: 14px;
    font-weight: normal;
}

.topRatedGames {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.gameCard img {
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.gameCard:hover {
    transform: scale(1.1);
    background-color: rgba(77, 77, 77, 0.7);
    transition: transform 250ms ease-in;
    cursor: -webkit-zoom-in;
}

a:hover {
    cursor: pointer;
}

.LoginBtn:hover {
    cursor: pointer;
    background-color: #0eca6f;
}

button:hover {
    cursor: pointer;
}

.mySlides {
    display: none
}

/* img {
    vertical-align: middle;
} */

/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    width: 60vw;
    aspect-ratio: 1/0.7;
    position: relative;
    margin: auto;
    object-fit: fit;
}

.slideshow-container img {
    aspect-ratio: 1/0.7;
    object-fit: fill;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.logo,
.logo img {
    text-decoration: none;
    color: #11f285;
    height: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer nav li {
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
}

.slideshow-container img {
    object-fit: fit;
    height: 500px;
}

.slideshow-container {
    width: 100%;
    height: 500px;
}

.gameCard {
    position: relative;
    margin: 20px;
    padding: 0px;
    padding-bottom: 0px;
    border-radius: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.gameCard img {
    border-radius: 0px;
}

/* .gameCard h1 {
    position: absolute;
    left: 35%;
    top: 60%;
} */

.gameCard button {
    border-radius: 0px;
    width: 100%;
    /* background-color: #11f285; */
}

.slideshow-container,
.slideshow-container img {
    padding: 0;
    margin: 0;
    height: 478px;
    max-height: 478px;
    top: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #11f285;
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0eca6f;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {

    .slideshow-container,
    .slideshow-container img {
        height: 100px !important;
    }

    .text {
        font-size: 10px;
    }

    /* .nav {
        display: none !important;
    } */

    .gameCard {
        overflow: hidden;
        white-space: nowrap;
    }

    .gameCard h1 {
        font-size: 0.7em !important;
    }

    .gameRating {
        font-size: 0.6em !important;
    }

    .gameButton {
        font-size: 0.5em !important;
    }

    footer {
        overflow: hidden;
        white-space: nowrap;
    }

    .nav {
        overflow: scroll !important;
        white-space: nowrap !important;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {

    .slideshow-container,
    .slideshow-container img {
        height: 200px !important;
    }

    .text {
        font-size: 10px;
    }

    .gameCard {
        overflow: hidden;
        white-space: nowrap;
    }

    .gameCard h1 {
        font-size: 0.7em !important;
    }

    .gameRating {
        font-size: 0.6em !important;
    }

    .gameButton {
        font-size: 0.5em !important;
    }

    footer {
        overflow: hidden;
        white-space: nowrap;
    }

    .nav {
        overflow: scroll !important;
        white-space: nowrap !important;
    }
}