/* @keyframes scale-up {
    0% {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
} */

body {
    margin: 0;
    line-height: normal;
}

.rectangle-icon,
.vector-icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 3248px;
    height: 2531px;
}

.rectangle-icon {
    top: 168px;
    left: 90px;
    border-radius: var(--br-md);
    width: 1260px;
    height: 600px;
    object-fit: cover;
}

.rectangle-div3 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gray);
    width: 1440px;
    height: 88px;
    mix-blend-mode: color-dodge;
}

.rectangle-icon1 {
    position: absolute;
    top: 9px;
    left: 24px;
    width: 245px;
    height: 71px;
    object-fit: cover;
}

.about-us1,
.all-games1,
.contact1,
.home1 {
    position: absolute;
    top: 29px;
    left: 540px;
    font-size: var(--font-size-base);
    display: inline-block;
}

.about-us1,
.all-games1,
.contact1 {
    left: 641px;
}

.all-games1,
.contact1 {
    left: 783px;
}

.all-games1 {
    left: 909px;
}

.rectangle-div4 {
    position: absolute;
    top: 20px;
    left: 1293px;
    border-radius: var(--br-sm);
    background-color: var(--color-green-100);
    width: 119px;
    height: 48px;
    mix-blend-mode: overlay;
}

.login-1 {
    top: 29px;
    left: 1303px;
    font-size: var(--font-size-base);
}

.action-adventure,
.genre,
.login-1 {
    position: absolute;
    display: inline-block;
}

.action-adventure {
    top: 828px;
    left: 129px;
    opacity: 0.7;
}

.genre {
    top: 789px;
    left: 128px;
    font-size: var(--font-size-lg);
}

.div {
    top: 930px;
    left: 129px;
    opacity: 0.7;
}

.div,
.platform,
.release-date,
.steam {
    position: absolute;
    display: inline-block;
}

.release-date {
    top: 891px;
    left: 128px;
    font-size: var(--font-size-lg);
}

.platform,
.steam {
    left: 473px;
}

.steam {
    top: 930px;
    opacity: 0.7;
}

.platform {
    top: 891px;
    font-size: var(--font-size-lg);
}

.ryu-ga-gotoku {
    margin-block-start: 0;
    margin-block-end: 0;
}

.ryu-ga-gotoku-studio {
    top: 828px;
    left: 463px;
    text-decoration: underline;
    color: inherit;
    opacity: 0.7;
}

.developer,
.publisher,
.ryu-ga-gotoku-studio,
.sega {
    position: absolute;
    display: inline-block;
}

.developer {
    top: 789px;
    left: 463px;
    font-size: var(--font-size-lg);
}

.publisher,
.sega {
    left: 790px;
}

.sega {
    top: 828px;
    text-decoration: underline;
    color: inherit;
    opacity: 0.7;
}

.publisher {
    top: 789px;
    font-size: var(--font-size-lg);
}

.star-div {
    position: absolute;
    top: 700px;
    left: 1275px;
    background-color: rgba(0, 255, 128, 0.75);
    width: 50px;
    height: 50px;
}

.yakuza-0 {
    position: absolute;
    top: 692px;
    left: 129px;
    font-size: var(--font-size-xl);
    display: inline-block;
}

.rectangle-div5 {
    position: absolute;
    bottom: 177px;
    left: 1157px;
    border-radius: var(--br-md);
    background-color: var(--color-green-200);
    width: 196px;
    height: 58px;
}

.open-game {
    position: absolute;
    top: 805px;
    left: 1176px;
    font-size: var(--font-size-sm);
    display: inline-block;
}

.polygon-icon {
    position: absolute;
    top: 95.32px;
    left: 1285.05px;
    border-radius: var(--br-md);
    width: 150px;
    height: 150px;
    object-fit: cover;
    opacity: 1;
}

.polygon-icon.animate {
    animation: 1s ease 0s 1 normal forwards scale-up;
}

.b,
.score {
    position: absolute;
    top: 179px;
    left: 1322px;
    display: inline-block;
}

.b {
    top: 133px;
    left: 1312px;
    font-size: var(--font-size-xl);
}

.desktop-21 {
    position: relative;
    background-color: var(--color-gray);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-white);
    font-family: var(--font-inter);
}