:root {
    /* fonts */
    --font-inter: Inter;

    /* font sizes */
    --font-size-xs: 20px;
    --font-size-sm: 24px;
    --font-size-base: 26px;
    --font-size-lg: 32px;
    --font-size-xl: 48px;

    /* Colors */
    --color-white: #fff;
    --color-gray: #242424;
    --color-green-100: #00ff80;
    --color-green-200: rgba(0, 255, 128, 0.8);

    /* border radiuses */
    --br-sm: 5px;
    --br-md: 15px;
}