@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    background-color: #2C2C2C;
    margin-top: 80px;
}

/* Style for the header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1C1D1F;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    z-index: 1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

header h2,
header p {
    margin: 0;
    color: white;
}

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

label {
    font-size: 26px;
}

label:hover {
    color: #11f285;
}

input {
    padding: 5px;
    width: 15%;
    border: none;
    border-bottom: 3px solid #11f285;
    background: white;
    color: #1C1D1F;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    /*     box-shadow: 1px 1px 5px 5px#11f285 !important; */
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.3);
    margin: 10px 0;
}



/* Style for the buttons */
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 0;
    border-radius: 0px;
}

.edit-btn {
    background-color: #0eca6f;
    color: white;
    padding: 6px 10px;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    padding: 6px 10px;
}

.add-btn {
    background-color: #1C1D1F;
    color: white;
    padding: 10px 14px;
    font-size: 20px;
}




.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
header a {
    text-decoration: none;
}