* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: #2D323B;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;

}

.header {
    background-color: #1C1D1F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 15px 10px 15px 15px;
    vertical-align: middle;
}

.LoginBtn {
    border: none;
    padding: 0px;

    background-color: #11f285;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0px;
    vertical-align: middle;
    height: 35px;
    width: 100px;
    text-align: center;
}

.nav {
    padding-top: 7px;
}


.nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding-left: 30px;
    padding-right: 30px;

}

.nav a:hover {
    opacity: 0.6;
    transition: ease-in-out 300ms;
}

a:hover {
    cursor: pointer;
}

.LoginBtn:hover {
    cursor: pointer;
    background-color: #0eca6f;
}

.logo,
.logo img {
    text-decoration: none;
    color: #11f285;
    height: 40px;
}

form {
    width: 35%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.form-group {
    margin-bottom: 1em;
}

.form-control {
    width: 100%;
    border-radius: 7px;
    padding: 0.5em;
    font-size: 1em;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

form {
    margin-top: 50px;
    margin-bottom: 25vh;
}

#bigText {
    text-align: center;
    vertical-align: center;
    margin-top: 20vh;
}

.map {
    width: 40%;
    float: left;
    padding-left: 200px;
    padding-top: 50px;
}

form {
    width: 40%;
    float: right;
    margin-right: 200px;
}




.LoginBtn i {
    vertical-align: middle;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    form {
        width: 80vw;
    }

    .LoginBtn span {
        display: none;
    }

    .LoginBtn:before {
        content: '';
        display: none;
    }

    .LoginBtn {
        width: 40px;
    }

    .LoginBtn i {
        text-align: center;
        padding-top: 2px;
    }
}
form {
    border-radius: 0px;
    background-color: #1C1D1F;
}

.form-control {
    border-radius: 0px;
}
.btn-primary {
    border-radius: 0px !important;
    background-color: #11f285 !important;
    color: #1C1D1F !important;
}
#bigText {
    font-size: 40px;
    text-align: center;
}