@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    background-color: #2D323B;
    margin-top: 80px;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1C1D1F;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

header h2,
header p {
    margin: 0;
    color: white;
}

th,
td {
    padding: 10px 15px;
    text-align: left;
}

th {
    background-color: lightgray;
    font-weight: bold;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 0;
    border-radius: 0px;
}

.edit-btn {
    background-color: #0eca6f;
    color: white;
    padding: 6px 10px;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    padding: 6px 10px;
}

.add-btn {
    background-color: #1C1D1F;
    color: white;
    padding: 10px 14px;
    font-size: 20px;
}

table th:last-child,
table td:last-child {
    width: 100px;
    text-align: center;
    overflow: hidden;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th {
    background-color: #0eca6f;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

/* table,
table th,
table td {
    border: none;
} */

/* table td {
    background-color: #1C1D1F;
} */

p a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

input {
    background-color: transparent;
    color: white;
    border: none;
}

header a {
    text-decoration: none;
}

th {
    color: #1C1D1F;
}

table,
table th,
table td {
    border: 1px solid #434851;
}

tr:nth-child(even) {
    background-color: #1C1D1F;
}

tr:nth-child(odd) {
    background-color: #121111;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    width: 100%;
    padding: 20px;
    background-color: #1C1D1F;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.card h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.card p span {
    color: #0eca6f;
}
.card h3 {
    font-size: 28px;
    padding: 0;
    margin: 0;
}
#norez {
    color: white;
    font-size: 20px;
}