@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}

.game-info {
    font-size: 20px;
}

h2 {
    font-size: 28px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.game-info span {
    color: #0eca6f;
}

main .screenshots img {
    max-width: 25vw;
}

main .screenshots {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .screenshots img {
    padding: 10px
}

video {
    width: 85%;
    border-radius: 5px;
    margin-top: 30px;
}

.video {
    display: flex;
    justify-content: center;
}

main {
    background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/271590/page_bg_generated_v6b.jpg?t=1671485100");
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /*   padding: 100px; */
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-image {
    display: flex;
    justify-content: center;
}

.game-image img {
    max-width: 100%;
}

.game-container {
    padding-left: 200px;
    padding-bottom: 50px
}

.game-info {
    padding-left: 50px;
}

.game-info h2 {
    text-align: left;
}

h2 {
    text-align: center;
}

main>section p {
    padding-left: 7vw;
    padding-right: 7vw;
}

h2 span {
    border-bottom: 3px solid #0eca6f;
    font-size: 34px;

}

.game-info #gameInfoText {
    color: white;
    font-size: 34px;
}

.game-info span {
    box-shadow: inset 0 0 0 0 #0eca6f;
    color: #0eca6f;
    margin: 0 -.5rem;
    padding: 0 .5rem;
    transition: color .6s ease-in-out, box-shadow .3s ease-in-out;
}

.game-info span:hover {
    box-shadow: inset 400px 0 0 0 #0eca6f;
    color: white;
}

main>section p {
    text-align: center;
}

.comment-form textarea {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 120px;
    padding: 10px;
  /*   border: 2px solid #ccc; */
    border-radius: 0px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
  }
  
  .comment-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .comment-submit button {
    margin-left: 0px;
  }
  
  .comment-submit span {
    margin-right: 0px;
  }
  
  .commentUsername  {
      color: #0eca6f;
      font-weight: bold;
  }
  
  .commentDetails span {
    margin: 0px;
    padding: 0px;
    color: #0eca6f;
    font-weight: bold;
}
.commentDetails {
    color: #aaa;
    float: left;
    margin: 0px;
    padding: 0px;
}

.comment {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid white;
    vertical-align: middle;
}
